.product-tab {
	border-bottom: 1px solid $border;
	height: 40px;
	background-color: $background;

	&-list {
		@include flexbox;
	}

	&-item {
		flex-grow: 1;
		flex-shrink: 1;

		&.is-active {
			a {
				color: $blue;
				border-bottom: 2px solid $blue;
			}
		}

		a {
			@include text-style(13, $dark);
			@include flexbox;
			font-weight: 700;
			border-bottom: 2px solid transparent;
			height: 40px;

			strong {
				@include text-style(12, $secondary);
				font-weight: 700;
				margin-left: 4px;
			}
		}
	}

	@include responsive(T) {
		border-top: 1px solid $border;
		height: 54px;

		&-item {
			a {
				@include text-style(16);
				height: 53px; // 태블릿 크기로 바뀌면서 border-top 1px 생기기 때문에 height를 54가 아닌 53픽셀로 준 것

				strong {
					@include text-style(16);
					margin-left: 8px;
				}
			}
		}
	}
}
